{:widget('Widget/header')}
<!-- /头部 -->
<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {:widget('Widget/left')}
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page Breadcrumb -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <a href="#">系统</a>
                </li>
                <li class="active">订单管理</li>
            </ul>
        </div>
        <!-- /Page Breadcrumb -->

        <!-- Page Body -->
        <div class="page-body">

            <!--<button type="button" tooltip="添加订单" class="btn btn-sm btn-azure btn-addon"-->
                    <!--onClick="javascript:window.location.href = '{:url('Goods/add')}'"><i class="fa fa-plus"></i> Add-->
            <!--</button>-->
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="flip-scroll">
                                <table class="table table-bordered table-hover">
                                    <thead class="">
                                    <tr>
                                        <th class="text-center">订单号</th>
                                        <th class="text-center">订单总价</th>
                                        <th class="text-center">运费</th>
                                        <th class="text-center">用户ID</th>
                                        <th class="text-center">订单状态</th>
                                        <th class="text-center">支付状态</th>
                                        <th class="text-center">支付方式</th>
                                        <th class="text-center">下单时间</th>
                                        <th class="text-center">更新时间</th>
                                        <th class="text-center">收货人</th>
                                        <th class="text-center">手机</th>
                                        <th class="text-center">地区</th>
                                        <th class="text-center">地址</th>
                                        <th class="text-center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $v}
                                    <tr>
                                        <td align="center">{$v.order_id}</td>
                                        <td align="center">{$v.total_amount}</td>
                                        <td align="center">{$v.freight}</td>
                                        <td align="center">{$v.member_id}</td>
                                        <td align="center">
                                            {if condition='$v.status eq 0'}未发货
                                            {elseif condition='$v.status eq 1'}发货中
                                            {elseif condition='$v.status eq 2'}已完成
                                            {else/}已取消
                                            {/if}
                                        </td>
                                        <td align="center">
                                            {if condition='$v.pay_status eq 0'}未支付
                                            {else/}已支付
                                            {/if}</td>
                                        <td align="center">{$v.pay_method}</td>
                                        <td align="center">{$v.create_time|date='Y-m-d H:i:s',###}</td>
                                        <td align="center">{$v.last_modify|date='Y-m-d H:i:s',###}</td>
                                        <td align="center">{$v.ship_name}</td>
                                        <td align="center">{$v.ship_mobile}</td>
                                        <td align="center">{$v.ship_area}</td>
                                        <td align="center">{$v.ship_address}</td>
                                        <td align="center">
                                            <a href="{:url('Order/edit',['order_id'=>$v.order_id])}" class="btn btn-primary btn-sm shiny">
                                                <i class="fa fa-edit"></i> 编辑
                                            </a>
                                            <a href="{:url('Order/detail',['order_id'=>$v.order_id])}" class="btn btn-primary btn-sm shiny">
                                                <i class="fa fa-edit"></i> 详情
                                            </a>
                                            <!--判断id 是不是为1，如果不是1，加删除按钮neq不等于--eq是等于-->
                                            {if condition='$v.status eq 3'}
                                            <a href="#" onClick="warning('确实要取消吗','{:url('Order/cancel',['order_id'=>$v.order_id,'status'=>$v.status])}')"
                                               class="btn btn-danger btn-sm shiny">
                                                <i class="fa fa-trash-o"></i> 撤销取消
                                            </a>
                                            {else/}
                                            <a href="#" onClick="warning('确实要取消吗','{:url('Order/cancel',['order_id'=>$v.order_id,\'status\'=>$v.status])}')"
                                               class="btn btn-danger btn-sm shiny">
                                                <i class="fa fa-trash-o"></i> 取消订单
                                            </a>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {$data->render()}
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->
</div>
</div>

<!--Basic Scripts-->
<script src=" __STATIC__/admin/style/jquery_002.js"></script>
<script src=" __STATIC__/admin/style/bootstrap.js"></script>
<script src=" __STATIC__/admin/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src=" __STATIC__/admin/style/beyond.js"></script>


</body></html>